/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background: url('https://images.collegedunia.com/public/college_data/images/appImage/1645961494777.jpg?h=250&w=1000&mode=crop') no-repeat center center fixed;
    background-size: cover; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff; 
}

.content {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    text-align: center;
    transform: rotate(180deg); 
}


h1, h2, h3, h4, h5, p, ol, table, form {
    margin: 20px;
    display: inline-block;
}


.header-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}


h1 {
    background-color: rgba(0, 0, 0, 0.7); 
    color: #ffffff; 
    padding: 10px;
    border-radius: 5px;
}


.p1 {
    font-family: "Times New Roman", Times, serif;
}

.p2 {
    font-family: 'Times New Roman', Times, serif;
}

.p3 {
    font-family: 'Times New Roman', Times, serif;
}


a:link {
    color: tomato;
    display: inline-block;
    margin: 10px 0;
}


ul.a {
    list-style-type: circle;
}

ul.b {
    list-style-type: square;
}

ol.c {
    list-style-type: upper-roman;
}

ol.d {
    list-style-type: lower-alpha;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ffffff;
}

th, td {
    padding: 10px;
    text-align: left;
}


form {
    margin-top: 20px;
    text-align: left;
}

label {
    display: inline-block;
    width: 100px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="submit"] {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    width: calc(100% - 20px);
}

input[type="submit"] {
    background-color: #3b8d99;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #2a6774;
}
